<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

    <main role="main" class="container-fluid pt-3">

        <div class="row">
            <div class="col-12">
                <h1>Vidéo</h1>
                <video class="video-js vjs-default-skin vjs-big-play-centered" id="tramVideo" src=""></video>
            </div>
        </div>

    </main>
    <!-- /.container -->

</body>

</html>