@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~video.js/src/css/vjs.scss';

$theme-colors: ("primary": #227AC2,
    "secondary": #97E2ED,
    "success": #20875A,
    "danger": rgb(245, 3, 124),
    "light": #EBE6E1,
    "dark": #333);

body {
    background: url('../images/texture.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: theme-color('primary');
}